<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Importer:ThisDay" value="http://www.thisdayonline.info"/>
    <add key="Importer:Guardian" value="http://www.ngrguardiannews.com"/>
    <!--e.g local path of computer c:\\test-->
    <add key="localFilePath" value="c:\\test\"/>
    <!--e.g ftp://127.0.0.1/flash/-->
    <add key="ftpFileArchivePath" value="ftp://equity-tracker.com/"/>
    <!--e.g ftp://127.0.0.1/-->
    <add key="ftpLocation" value="ftp://equity-tracker.com/"/>
    <add key="username" value="equircom"/>
    <add key="password" value="b0l0ng5"/>
    <!--number of articles to scrape-->
    <add key="numberOfArticlesToScrape" value="4"/>
    <!--time before the console closes in milliseconds for the Console-->
    <add key="closetime" value="2000"/>
	 <!-- e.g lekesanmi@g.com, leke@s.com-->
  <add key="ErrorReportAddressTo" value="lekibaba@googlemail.com"></add>
  <add key="ErrorReportAddressFrom" value="lekethealchemistsolutions@gmail.com"></add>
  </appSettings>
</configuration>